.gameScreen {
  background: #00416f;
  box-sizing: border-box;
  height: 100vh;
  min-width: 320px;
}

.title {
  color: #ffffff;
  font-family: Itim, sans-serif;
  font-size: 76px;
  margin: 0;
}

@media (height <= 716px) {
  .title {
    display: none;
  }
}

.contentLayout {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.pauseButtonLayout {
  display: flex;
  justify-content: end;
  width: 100%;
}

.buttonsLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 280px;
}
