.loaderLayout {
  align-items: center;
  display: flex;
  justify-content: center;
}

.loader {
  animation: spin 800ms linear infinite;
  height: 72px;
  width: 72px;

  @keyframes spin {
    from {
      transform: rotate(0);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
