@use 'styles/colors';
@use 'styles/mixins';
@use 'styles/typography';

.board {
  background: colors.$board-background;
  border-collapse: collapse;
  overflow: hidden;

  @include mixins.media using ($board, $zone, $cell) {
    border-radius: calc($cell / 2);
    height: $board;
    width: $board;
  }

  &__row {
    border-bottom: 1px solid colors.$board-subgrid-background;

    &:nth-child(3n + 3) {
      border-bottom: 2px solid colors.$board-grid-background;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__cell {
    border-right: 1px solid colors.$board-subgrid-background;
    padding: 0;
    position: relative;

    &:nth-child(3n + 3) {
      border-right: 2px solid colors.$board-grid-background;
    }

    &:last-child {
      border-right: none;
    }
  }

  &__button {
    background: none;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 0;
    position: relative;

    @include typography.board-text;

    @include mixins.media using ($board, $zone, $cell) {
      font-size: $cell;
      height: $cell;
      line-height: $cell;
      width: $cell;
    }

    @media (hover: hover) {
      &:hover {
        background: colors.$button-color-hover;
      }
    }

    &:active {
      background: colors.$board-cell-color-selected;
    }

    &:disabled {
      background: none;
      cursor: default;
    }

    &_selected {
      background: colors.$board-cell-color-selected;
    }

    &_type_clue {
      color: colors.$board-text-color-clue;
    }

    &_type_error {
      color: colors.$board-text-color-error;
    }

    &_type_solution {
      color: colors.$board-text-color-solution;
    }

    &_type_solved {
      color: colors.$board-text-color-solved;
    }
  }

  &__note {
    align-items: center;
    color: colors.$board-note-color;
    display: flex;
    height: 14px;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    width: 14px;

    @include typography.board-note;

    &_position_topLeft {
      left: 0;
      top: 0;
    }

    &_position_topRight {
      right: 0;
      top: 0;
    }

    &_position_bottomLeft {
      bottom: 0;
      left: 0;
    }

    &_position_bottomRight {
      bottom: 0;
      right: 0;
    }
  }
}
