@use 'styles/colors';
@use 'styles/typography';

.menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  &__item {
    background: none;
    border: none;
    color: colors.$menu-item-color;
    cursor: pointer;
    padding: 0;
    text-wrap: nowrap;

    @include typography.menu-item;

    &_main {
      @include typography.menu-item-main;
    }
  }
}
