@use 'styles/colors';
@use 'styles/typography';

.select {
  display: flex;

  &__control {
    background: none;
    border: none;
    cursor: pointer;
    height: 20px;
    padding: 0;
    width: 20px;
  }

  &__label {
    color: colors.$settings-modal-text-color;
    margin: 0;
    text-align: center;
    width: 76px;

    @include typography.settings-modal-text;
  }
}
