$app-background: #00416f;
$board-background: #ffffff;
$board-cell-color-hover: rgb(0 149 255 / 80%);
$board-cell-color-selected: rgb(0 149 255 / 50%);
$board-grid-background: #00416f;
$board-subgrid-background: #c7c7c7;
$board-text-color-correct: #0abe0a;
$board-text-color-error: #ff0004;
$board-text-color-prefilled: #00416f;
$board-text-color-solution: #0095ff;
$button-color-active: rgb(0 149 255 / 50%);
$button-color-hover: rgb(0 149 255 / 80%);
$button-stroke-color: #ffffff;
$button-text-color: #ffffff;
$icon-color: #ffffff;
$main-menu-item-color: #ffffff;
$main-menu-title-color: #ffffff;
$modal-action-color: #ffffff;
$modal-background: #00416f;
$modal-title-color: #ffffff;
$overlay-background: rgb(0 149 255 / 30%);
$settings-modal-text-color: #ffffff;
