$min-screen-edges-distance: 30px;
$dimensions:
  (
    board: 280px,
    zone: 92px,
    cell: 30px,
  ),
  (
    board: 298px,
    zone: 98px,
    cell: 32px,
  ),
  (
    board: 316px,
    zone: 104px,
    cell: 34px,
  ),
  (
    board: 334px,
    zone: 110px,
    cell: 36px,
  ),
  (
    board: 352px,
    zone: 116px,
    cell: 38px,
  ),
  (
    board: 370px,
    zone: 122px,
    cell: 40px,
  );
