@font-face {
  font-family: 'Balsamiq Sans';
  src:
    local('Balsamiq Sans'),
    url('assets/fonts/BalsamiqSans.ttf') format('truetype');
}

@font-face {
  font-family: Itim;
  src:
    local('Itim'),
    url('assets/fonts/Itim.ttf') format('truetype');
}
