@font-face {
  font-family: Inter;
  src:
    local('Inter'),
    url('assets/fonts/Inter.ttf') format('truetype');
}

@font-face {
  font-family: Itim;
  src:
    local('Itim'),
    url('assets/fonts/Itim.ttf') format('truetype');
}
