@font-face {
  font-family: 'Balsamiq Sans';
  src:
    local('Balsamiq Sans'),
    url('assets/fonts-new/balsamiq-sans.ttf') format('truetype');
}

@font-face {
  font-family: Itim;
  src:
    local('Itim'),
    url('assets/fonts-new/itim.ttf') format('truetype');
}
