@mixin board-note {
  font-family: Itim, sans-serif;
  font-size: 14px;
  line-height: 14px;
}

@mixin board-text {
  font-family: Itim, sans-serif;
}

@mixin button-text {
  font-family: Itim, sans-serif;
  font-size: 38px;
  line-height: 38px;
}

@mixin main-menu-title {
  font-family: Itim, sans-serif;
  font-size: 76px;
  font-weight: normal;
  line-height: 76px;
}

@mixin menu-item {
  font-family: 'Balsamiq Sans', sans-serif;
  font-size: 32px;
  line-height: 32px;
}

@mixin menu-item-main {
  font-family: 'Balsamiq Sans', sans-serif;
  font-size: 38px;
  line-height: 38px;
}

@mixin modal-action {
  font-family: 'Balsamiq Sans', sans-serif;
  font-size: 24px;
  line-height: 24px;
}

@mixin modal-title {
  font-family: 'Balsamiq Sans', sans-serif;
  font-size: 38px;
  line-height: 38px;
}

@mixin note {
  font-family: Itim, sans-serif;
  font-size: 30px;
  line-height: 30px;
}

@mixin settings-modal-text {
  font-family: 'Balsamiq Sans', sans-serif;
  font-size: 20px;
  line-height: 20px;
}
