@use 'styles/colors';
@use 'styles/effects';
@use 'styles/typography';

.modal {
  align-items: center;
  background: colors.$modal-background;
  box-shadow: effects.$modal-shadow;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 30px 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

  &__action {
    background: none;
    border: none;
    color: colors.$modal-action-color;
    cursor: pointer;
    padding: 0;

    @include typography.modal-action;
  }

  &__actionsLayout {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  &__content {
    flex-grow: 1;
    margin: 20px 0;
    overflow-y: auto;
  }

  &__title {
    color: colors.$modal-title-color;
    margin: 0;

    @include typography.modal-title;
  }
}
