@use 'styles/mixins';

.contentLayout {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  row-gap: 20px;
}

.topLayout {
  align-items: flex-end;
  display: flex;
  justify-content: end;

  @include mixins.media using ($board, $zone, $cell) {
    width: $board;
  }

  &_twoElements {
    justify-content: space-between;
  }
}

@media screen and (width <= 1024px) {
  .contentLayout {
    justify-content: flex-end;
  }
}
